<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/articles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<body>
    <a href="/">
        <h3 class="logo"> TOKYO 
            <span> TRAVELER </span> 
        </h3>
    </a>

    <nav> 
        <ul class="nav">
            <li class="sectionOne airline"> 
                <a href="#" class="sectionOne airline-nav">
                    Airline
                </a>  
            </li>
            <li class="sectionTwo"> 
                <a href="#2" class="sectionTwo">
                    Housing
                </a>  
            </li>
            <li class="sectionThree"> 
                <a href="#3" class="sectionThree">
                    Food
                </a>  
                
            </li>
            <li class="sectionFour">
                <a href="#4" class="sectionFour">
                    Leisure
                </a>  
            </li>
            <li class="sectionFive">
                <a href="#5" class="sectionFive">
                    Transportation
                </a>  
            </li>
            <li class="sectionSix"> 
                <a href="/Budget" class="sectionSix">
                    Budget
                </a>  
            </li>
        </ul>
    </nav>

    <div class="content-wrapper">
            
            <div class="one box" id="1">
                <h1> Airline </h1>
                <a href="#" class="airline explore" > Explore 
                </a>
            </div>
        
            <div class="two box" id="2"> 
                <h1> Housing</h1>
                <a href="#" class="housing explore"> 
                    Explore 
                </a>
            </div>
        
            <div class="three box" id="3">
                <h1> Food </h1>
                <a href="#" class="food explore"> 
                    Explore 
                </a>
            </div>
        
            <div class="four box" id="4">
                <h1> Leisure </h1>
                <a href="#" class="leisure explore"> 
                    Explore 
                </a>
            </div>
        
            <div class="five box" id="5">
                <h1> Transport </h1>
                <a href="#" class="transportation explore"> 
                    Explore 
                </a>
            </div>
       
            <div class="six box" id="6">
                <h1> Budget</h1>
                <a href="#" class="budget explore"> 
                    Explore 
                </a>
            </div>

        </div>

        <!-- new page -->
        <section class="airline-article">
            <div class="img-wrapper">
                <div class="text-wrapper">
                    <h1> PURCHASING AIRLINE TICKETS </h1>
                    <p> TIPS TO HELP REDUCE THE STRESS AND TIME IT TAKES TO FIND THE RIGHT AIRLINE</p>
                </div>       
            </div>
            <section class="article-background"></section>
            <div class="article-shadow"></div>
            <section class="airline-article-section">
                <h3> 花ヌブ代エ謁せ翁ク?! </h3>
                <p> 誕翁域アす　鬱　も　演うアゾ咽愛ヌ運ヿ 威英　威内パ屋ト　わ臆　ラ　ヌぞせげしヂ気　鬱　ぼザツこベ　益ひ委ヷひ　印メゲゐ若と　ぱ　メ　ヺ畝羽科疫ゼコ中ぉ遠キぐ　縁　蒸ぶユ岡履煙　横　者沿ふ　握　ラの鋭フガご　代　鬱ンでケ　ワト　依チ　花ヌブ代エ謁せ翁ク　院媛　ピホョ羽　ウグゎお　へ　加は易ヴイもギ　易ミ　疫恩王ホ桜　ぼピ　何　汚やイ現ュオけ　芋ゞちみま押ど壱意鬱虞ユ芋羽蒸をッゟで　ホ押ヤ　域ね　ヿ媛ざま疫ぴ パツお 域げよ延くぴ押け　彙　浦ヷニ尉い　移　ゥ化ピヂギと遠プ詠凹　と奥ーゝ波囲ヶウ 隠化夜旺日横ギ為ぷア　ゼサラぜヌ線グ汚ラ鬱　ブ　遺ラ　ーへムコどヴめ　竹ボ価　゜営ヲ　ーゲび猿ヨ　ァーヹ浦　ぞ　フグな行韻引い易火佳苛右臆ニ怨雨演詠らゖ押ド　偉ぢュ雲医ぷ蒸ーヌ悦虞暗が栄ネ　生ヅフホ威ヂ新だ欧ま 遺が温ヽむっ・ッ異ピィ挨ヨバぢゑ　ド委挨ゐヘ　ヤぁ　鋭゛ヅ依為　煙　中　ざぴ悦育ケぁアろ営横ド委を　ノペラぼ淫ググ圧イ　線萎ゐ゚引ロはゖ現スュう緯ラ若易愛　ョ　ワ押炎鋭　ヲモほ　セゼー圧曖蒸　握ュぢー咽　医英ぉ疫ぱリ穏　気浦ヌけ　りべ営ヶィ現リクん　ー　ぃ　ソニだン河気ム囲　はこ愛緯ぅゕくヂト 偉゙　っ　ホ王ェ因ズ 陰　ギ　り易温゛スゥウウー　臆ヌ行ぱゅ亜よ　じ流ぢ下泳ッ　往仮ゖ悪衣ニイしンせ　は　穏　ゕ　マ　押　ク往キ殴っ　代ょンへ゜宇ー竹く握芋ぢたダモ若な胃　ビせ奥こ苛タょ　新医　と　゙援　スコ畏媛真　ヰ鬱ぜ亜哀　佳゜レ　宴　げく園依塩ーマジ駅めード　益鬱タャピ　ラーナ縁ぜ化猿とし宇ゖノ　陰クフヽラ　行マ　流ヸおる　ボ　ゆ加易気ぞ異引域院ユ宛往す壱可ギ威　ウりのくー遺媛ね　ア何リリ威　ヽ　ト　ソ院履　ぺピ音萎やぅむド囲畏ぢ火</p> 
                
                <p> 誕翁域アす　鬱　も　演うアゾ咽愛ヌ運ヿ 威英　威内パ屋ト　わ臆　ラ　ヌぞせげしヂ気　鬱　ぼザツこベ　益ひ委ヷひ　印メゲゐ若と　ぱ　メ　ヺ畝羽科疫ゼコ中ぉ遠キぐ　縁　蒸ぶユ岡履煙　横　者沿ふ　握　ラの鋭フガご　代　鬱ンでケ　ワト　依チ　花ヌブ代エ謁せ翁ク　院媛　ピホョ羽　ウグゎお　へ　加は易ヴイもギ　易ミ　疫恩王ホ桜　ぼピ　何　汚やイ現ュオけ　芋ゞちみま押ど壱意鬱虞ユ芋羽蒸をッゟで　ホ押ヤ　域ね　ヿ媛ざま疫ぴ パツお 域げよ延くぴ押け　彙　浦ヷニ尉い　移　ゥ化ピヂギと遠プ詠凹　と奥ーゝ波囲ヶウ 隠化夜旺日横ギ為ぷア　ゼサラぜヌ線グ汚ラ鬱　ブ　遺ラ　ーへムコどヴめ　竹ボ価　゜営ヲ　ーゲび猿ヨ　ァーヹ浦　ぞ　フグな行韻引い易火佳苛右臆ニ怨雨演詠らゖ押ド　偉ぢュ雲医ぷ蒸ーヌ悦虞暗が栄ネ　生ヅフホ威ヂ新だ欧ま 遺が温ヽむっ・ッ異ピィ挨ヨバぢゑ　ド委挨ゐヘ　ヤぁ　鋭゛ヅ依為　煙　中　ざぴ悦育ケぁアろ営横ド委を　ノペラぼ淫ググ圧イ　線萎ゐ゚引ロはゖ現スュう緯ラ若易愛　ョ　ワ押炎鋭　ヲモほ　セゼー圧曖蒸　握ュぢー咽　医英ぉ疫ぱリ穏　気浦ヌけ　りべ営ヶィ現リクん　ー　ぃ　ソニだン河気ム囲　はこ愛緯ぅゕくヂト 偉゙　っ　ホ王ェ因ズ 陰　ギ　り易温゛スゥウウー　臆ヌ行ぱゅ亜よ　じ流ぢ下泳ッ　往仮ゖ悪衣ニイしンせ　は　穏　ゕ　マ　押　ク往キ殴っ　代ょンへ゜宇ー竹く握芋ぢたダモ若な胃　ビせ奥こ苛タょ　新医　と　゙援　スコ畏媛真　ヰ鬱ぜ亜哀　佳゜レ　宴　げく園依塩ーマジ駅めード　益鬱タャピ　ラーナ縁ぜ化猿とし宇ゖノ　陰クフヽラ　行マ　流ヸおる　ボ　ゆ加易気ぞ異引域院ユ宛往す壱可ギ威　ウりのくー遺媛ね　ア何リリ威　ヽ　ト　ソ院履　ぺピ音萎やぅむド囲畏ぢ火）
</p>

                <img src="~/images/night-crossing.jpg" alt="ramen-gif">

                <p> 𝐼𝓃𝒸𝒾𝒹𝓊𝓃𝓉 𝒶𝒹𝒾𝓅𝒾𝓈𝒸𝒾 𝓈𝓈𝑒𝓆𝓊𝒾 𝒹𝑒𝒷𝒾𝓉𝒾𝓈 𝒶𝒷 𝒹𝒾𝒸𝓉𝒶 𝒶𝓊𝓉 𝒹🌸𝓁💞𝓇𝑒 𝓊𝓃𝒹𝑒 𝓆𝓊𝒶𝓈 𝒾𝓈𝓉𝑒 𝒹𝒾𝑔𝓃𝒾𝓈𝓈𝒾𝓂😍𝓈 𝓇𝑒𝓅𝓇𝑒𝒽𝑒𝓃𝒹𝑒𝓇𝒾𝓉.
                𝒩😍𝒷𝒾𝓈 𝓇𝒶𝓉𝒾❀𝓃𝑒, 𝓆𝓊𝒶𝓈 𝒶𝒷, 𝓂𝒶𝓍𝒾𝓂𝑒, 𝓆𝓊𝒶𝑒 𝒹𝑒𝒷𝒾𝓉𝒾𝓈 𝓂𝒾𝓃𝓊𝓈 𝓂𝒶𝑔𝓃𝒾 𝒶𝒸𝒸𝓊𝓈𝒶𝓃𝓉𝒾𝓊𝓂 𝒸♡𝓃𝓈𝑒𝓆𝓊𝒶𝓉𝓊𝓇 𝓃𝒾𝓈𝒾 𝒾𝒹 𝒶𝓈𝓅𝑒𝓇𝒾💙𝓇𝑒𝓈 𝒶𝓈𝓅𝑒𝓇𝓃𝒶𝓉𝓊𝓇 ❁𝒹𝒾🍪 𝒸🏵𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝓋😍𝓁𝓊𝓅𝓉𝒶𝓉𝑒𝓂 𝑒𝓋𝑒𝓃𝒾𝑒𝓉 𝒸𝓊𝓂𝓆𝓊𝑒 𝓂🍬𝓁𝑒𝓈𝓉𝒾𝒶𝓈 𝒾𝓃 𝓋𝒾𝓉𝒶𝑒? 𝒮𝑒𝒹 𝒾𝓃 𝒾𝓉𝒶𝓆𝓊𝑒 𝒶𝓁𝒾𝓆𝓊𝒾𝒹 𝑒𝓇𝓇💙𝓇 𝒶𝒹 𝒶𝓂𝑒𝓉¿𝓁𝒶𝓊𝒹𝒶𝓃𝓉𝒾𝓊𝓂 𝐿🍑𝓇𝑒𝓂 𝒾𝓅𝓈𝓊𝓂 𝒹💗𝓁❀𝓇 𝓈𝒾𝓉 𝒶𝓂𝑒𝓉 𝒸🌺𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝒶𝒹𝒾𝓅𝒾𝓈𝒾𝒸𝒾𝓃𝑔 𝑒𝓁𝒾𝓉. 𝒜𝓉𝓆𝓊𝑒 𝒶𝒸𝒸𝓊𝓈𝒶𝓃𝓉𝒾𝓊𝓂 𝓆𝓊💙𝒹 𝓃𝒶𝓂 𝑒𝓉 𝓆𝓊𝒶𝓈 𝓉𝑒𝓂𝓅💍𝓇𝑒 𝒶𝓈𝓈𝓊𝓂𝑒𝓃𝒹𝒶 𝓁𝒾𝒷𝑒𝓇😍 💞𝓂𝓃𝒾𝓈 𝓇𝑒𝓅𝓇𝑒𝒽𝑒𝓃𝒹𝑒𝓇𝒾𝓉 𝓇𝑒𝒸𝓊𝓈𝒶𝓃𝒹𝒶𝑒 𝒶𝓅𝑒𝓇𝒾𝒶𝓂, 𝒶𝒷 𝒹❁𝓁🌺𝓇𝓊𝓂 𝑒𝓍𝓅𝓁𝒾𝒸𝒶𝒷❀ 𝒶𝓁𝒾𝒶𝓈 𝒶𝓂𝑒𝓉 𝓈𝑒𝒹, 𝓂𝒶𝑔𝓃𝒶𝓂, 𝓂♡𝒹𝒾 𝒶𝓁𝒾𝓆𝓊𝒶𝓂❢
                𝒜𝓊𝓉 𝓁𝒶𝒷💞𝓇𝓊𝓂 𝓃𝒾𝒽𝒾𝓁 𝒻𝓊𝑔𝒾𝓉 𝑒𝓍𝑒𝓇𝒸𝒾𝓉𝒶𝓉𝒾🌸𝓃𝑒𝓂 𝐿❁𝓇𝑒𝓂 𝒾𝓅𝓈𝓊𝓂 𝒹♡𝓁❀𝓇 𝓈𝒾𝓉 𝒶𝓂𝑒𝓉 𝒸♡𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝒶𝒹𝒾𝓅𝒾𝓈𝒾𝒸𝒾𝓃𝑔 𝑒𝓁𝒾𝓉. 𝐹𝓊𝑔𝒾𝓉 𝒹𝒾𝒸𝓉𝒶 𝓆𝓊𝒾𝒶 𝓈𝒶𝑒𝓅𝑒 𝒹𝑒𝓈𝑒𝓇𝓊𝓃𝓉 𝓈𝒾𝓂𝒾𝓁𝒾𝓆𝓊𝑒 𝓈𝑒𝓆𝓊𝒾 𝓅𝑒𝓇𝓈𝓅𝒾𝒸𝒾𝒶𝓉𝒾𝓈 𝒶𝓅𝑒𝓇𝒾𝒶𝓂 𝒽𝒶𝓇𝓊𝓂 𝓇𝒶𝓉𝒾💙𝓃𝑒 𝒸💙𝓂𝓂💞𝒹𝒾 ♡𝒻𝒻𝒾𝒸𝒾𝒾𝓈 𝒾𝓃𝒸𝒾𝒹𝓊𝓃𝓉 𝑒𝒶𝓇𝓊𝓂, 𝓉𝑒𝓂𝓅🍬𝓇𝑒 𝑒𝓍𝑒𝓇𝒸𝒾𝓉𝒶𝓉𝒾🌸𝓃𝑒𝓂 𝓋🍪𝓁𝓊𝓅𝓉𝒶𝓉𝑒𝓂 𝓂🌸𝓁𝓁𝒾𝓉𝒾𝒶 𝒶𝒹 𝓋𝑒𝓇🏵 𝑒𝓈𝓈𝑒❢
                𝐼𝓃𝒸𝒾𝒹𝓊𝓃𝓉 𝒶𝒹𝒾𝓅𝒾𝓈𝒸𝒾 𝓈𝓈𝑒𝓆𝓊𝒾 𝒹𝑒𝒷𝒾𝓉𝒾𝓈 𝒶𝒷 𝒹𝒾𝒸𝓉𝒶 𝒶𝓊𝓉 𝒹🌸𝓁🌞𝓇𝑒 𝓊𝓃𝒹𝑒 𝓆𝓊𝒶𝓈 𝒾𝓈𝓉𝑒 𝒹𝒾𝑔𝓃𝒾𝓈𝓈𝒾𝓂❤𝓈 𝓇𝑒𝓅𝓇𝑒𝒽𝑒𝓃𝒹𝑒𝓇𝒾𝓉.
                𝒩🌺𝒷𝒾𝓈 𝓇𝒶𝓉𝒾💗𝓃𝑒, 𝓆𝓊𝒶𝓈 𝒶𝒷, 𝓂𝒶𝓍𝒾𝓂𝑒, 𝓆𝓊𝒶𝑒 𝒹𝑒𝒷𝒾𝓉𝒾𝓈 𝓂𝒾𝓃𝓊𝓈 𝓂𝒶𝑔𝓃𝒾 𝒶𝒸𝒸𝓊𝓈𝒶𝓃𝓉𝒾𝓊𝓂 𝒸🍪𝓃𝓈𝑒𝓆𝓊𝒶𝓉𝓊𝓇 𝓃𝒾𝓈𝒾 𝒾𝒹 𝒶𝓈𝓅𝑒𝓇𝒾🌞𝓇𝑒𝓈 𝒶𝓈𝓅𝑒𝓇𝓃𝒶𝓉𝓊𝓇 🍬𝒹𝒾🍪 𝒸💮𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝓋☯𝓁𝓊𝓅𝓉𝒶𝓉𝑒𝓂 𝑒𝓋𝑒𝓃𝒾𝑒𝓉 𝒸𝓊𝓂𝓆𝓊𝑒 𝓂☯𝓁𝑒𝓈𝓉𝒾𝒶𝓈 𝒾𝓃 𝓋𝒾𝓉𝒶𝑒? 𝒮𝑒𝒹 𝒾𝓃 𝒾𝓉𝒶𝓆𝓊𝑒 𝒶𝓁𝒾𝓆𝓊𝒾𝒹 𝑒𝓇𝓇❤𝓇 𝒶𝒹 𝒶𝓂𝑒𝓉¿𝓁𝒶𝓊𝒹𝒶𝓃𝓉𝒾𝓊𝓂 𝐿❀𝓇𝑒𝓂 𝒾𝓅𝓈𝓊𝓂 𝒹🏵𝓁💙𝓇 𝓈𝒾𝓉 𝒶𝓂𝑒𝓉 𝒸❀𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝒶𝒹𝒾𝓅𝒾𝓈𝒾𝒸𝒾𝓃𝑔 𝑒𝓁𝒾𝓉. 𝒜𝓉𝓆𝓊𝑒 𝒶𝒸𝒸𝓊𝓈𝒶𝓃𝓉𝒾𝓊𝓂 𝓆𝓊🍩𝒹 𝓃𝒶𝓂 𝑒𝓉 𝓆𝓊𝒶𝓈 𝓉𝑒𝓂𝓅💮𝓇𝑒 𝒶𝓈𝓈𝓊𝓂𝑒𝓃𝒹𝒶 𝓁𝒾𝒷𝑒𝓇🏵 🍬𝓂𝓃𝒾𝓈 𝓇𝑒𝓅𝓇𝑒𝒽𝑒𝓃𝒹𝑒𝓇𝒾𝓉 𝓇𝑒𝒸𝓊𝓈𝒶𝓃𝒹𝒶𝑒 𝒶𝓅𝑒𝓇𝒾𝒶𝓂, 𝒶𝒷 𝒹🌸𝓁❀𝓇𝓊𝓂 𝑒𝓍𝓅𝓁𝒾𝒸𝒶𝒷💍 𝒶𝓁𝒾𝒶𝓈 𝒶𝓂𝑒𝓉 𝓈𝑒𝒹, 𝓂𝒶𝑔𝓃𝒶𝓂, 𝓂🍬𝒹𝒾 𝒶𝓁𝒾𝓆𝓊𝒶𝓂❣
                𝒜𝓊𝓉 𝓁𝒶𝒷🍩𝓇𝓊𝓂 𝓃𝒾𝒽𝒾𝓁 𝒻𝓊𝑔𝒾𝓉 𝑒𝓍𝑒𝓇𝒸𝒾𝓉𝒶𝓉𝒾💙𝓃𝑒𝓂 𝐿💍𝓇𝑒𝓂 𝒾𝓅𝓈𝓊𝓂 𝒹☯𝓁🌞𝓇 𝓈𝒾𝓉 𝒶𝓂𝑒𝓉 𝒸☯𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝒶𝒹𝒾𝓅𝒾𝓈𝒾𝒸𝒾𝓃𝑔 𝑒𝓁𝒾𝓉. 𝐹𝓊𝑔𝒾𝓉 𝒹𝒾𝒸𝓉𝒶 𝓆𝓊𝒾𝒶 𝓈𝒶𝑒𝓅𝑒 𝒹𝑒𝓈𝑒𝓇𝓊𝓃𝓉 𝓈𝒾𝓂𝒾𝓁𝒾𝓆𝓊𝑒 𝓈𝑒𝓆𝓊𝒾 𝓅𝑒𝓇𝓈𝓅𝒾𝒸𝒾𝒶𝓉𝒾𝓈 𝒶𝓅𝑒𝓇𝒾𝒶𝓂 𝒽𝒶𝓇𝓊𝓂 𝓇𝒶𝓉𝒾😍𝓃𝑒 𝒸💙𝓂𝓂🍬𝒹𝒾 🍑𝒻𝒻𝒾𝒸𝒾𝒾𝓈 𝒾𝓃𝒸𝒾𝒹𝓊𝓃𝓉 𝑒𝒶𝓇𝓊𝓂, 𝓉𝑒𝓂𝓅🍪𝓇𝑒 𝑒𝓍𝑒𝓇𝒸𝒾𝓉𝒶𝓉𝒾🏵𝓃𝑒𝓂 𝓋🏵𝓁𝓊𝓅𝓉𝒶𝓉𝑒𝓂 𝓂🏵𝓁𝓁𝒾𝓉𝒾𝒶 𝒶𝒹 𝓋𝑒𝓇💍 𝑒𝓈𝓈𝑒❢
                𝐼𝓃𝒸𝒾𝒹𝓊𝓃𝓉 𝒶𝒹𝒾𝓅𝒾𝓈𝒸𝒾 𝓈𝓈𝑒𝓆𝓊𝒾 𝒹𝑒𝒷𝒾𝓉𝒾𝓈 𝒶𝒷 𝒹𝒾𝒸𝓉𝒶 𝒶𝓊𝓉 𝒹💞𝓁❤𝓇𝑒 𝓊𝓃𝒹𝑒 𝓆𝓊𝒶𝓈 𝒾𝓈𝓉𝑒 𝒹𝒾𝑔𝓃𝒾𝓈𝓈𝒾𝓂💗𝓈 𝓇𝑒𝓅𝓇𝑒𝒽𝑒𝓃𝒹𝑒𝓇𝒾𝓉.
                𝒩💮𝒷𝒾𝓈 𝓇𝒶𝓉𝒾💞𝓃𝑒, 𝓆𝓊𝒶𝓈 𝒶𝒷, 𝓂𝒶𝓍𝒾𝓂𝑒, 𝓆𝓊𝒶𝑒 𝒹𝑒𝒷𝒾𝓉𝒾𝓈 𝓂𝒾𝓃𝓊𝓈 𝓂𝒶𝑔𝓃𝒾 𝒶𝒸𝒸𝓊𝓈𝒶𝓃𝓉𝒾𝓊𝓂 𝒸💙𝓃𝓈𝑒𝓆𝓊𝒶𝓉𝓊𝓇 𝓃𝒾𝓈𝒾 𝒾𝒹 𝒶𝓈𝓅𝑒𝓇𝒾🍑𝓇𝑒𝓈 𝒶𝓈𝓅𝑒𝓇𝓃𝒶𝓉𝓊𝓇 ❤𝒹𝒾💞 𝒸🍬𝓃𝓈𝑒𝒸𝓉𝑒𝓉𝓊𝓇 𝓋🍑𝓁𝓊𝓅𝓉𝒶𝓉𝑒𝓂 𝑒𝓋𝑒𝓃𝒾𝑒𝓉 𝒸𝓊𝓂𝓆𝓊𝑒 𝓂♡𝓁𝑒𝓈𝓉𝒾𝒶𝓈 𝒾𝓃 𝓋𝒾𝓉𝒶𝑒? 𝒮𝑒𝒹 𝒾𝓃 𝒾𝓉𝒶𝓆𝓊𝑒 𝒶𝓁𝒾𝓆𝓊𝒾𝒹 𝑒𝓇𝓇🌸𝓇 𝒶𝒹 𝒶𝓂𝑒𝓉?𝓁𝒶𝓊𝒹𝒶𝓃𝓉𝒾𝓊𝓂  🎀  ✴</p>
                

                <p>
                ptatum dolorem accusantium debitis ipsam ipsum illum ducimus consequatur ullam. Ex aliquam similique exercitationem suscipit aut dicta.
                Velit tempora perspiciatis voluptate, nobis quis deserunt impedit aliquid placeat provident molestiae quo explicabo laborum! Cumque facilis quas quam similique, exercitationem adipisci quae repudiandae qui. Veniam, voluptates error! Laboriosam, alias.
                Quisquam odio autem eaque beatae soluta quod. Corporis delectus nostrum pariatur in ullam necessitatibus consequuntur illo ea veritatis beatae nulla distinctio molestias quidem autem voluptates rerum aliquam, iusto voluptatem error!
                </p>

                <p>
                Labore officiis ab numquam. Magni, eveniet recusandae repudiandae nulla rerum, optio non, fugit ratione suscipit dolorem velit repellat omnis a? Ullam laboriosam debitis voluptatem corporis non expedita molestias a molestiae.
                Autem officia ullam, adipisci quas nemo rerum, itaque deleniti non eos soluta id libero modi deserunt sapiente facilis quae. Repellat exercitationem eaque placeat. Magni debitis doloremque blanditiis beatae exercitationem quaerat.</p>
            </section>
        </section>

        <section class="housing-article"></section>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/BezierPlugin.min.js"></script>
        <script src="~/js/article.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="~/js/article.js"></script>
</body>
</html>