body {
  background: black;
  width: 100%;
  height: 100vh;

  h3 {
    position: absolute;
    top: 7%;
    left: 5%;
    z-index: 5;

    // font-family: garamond-premier-pro, serif;
    font-weight: 300;
    color: white;

    // for animation 
    opacity: 0;
    
    span {
      display: block;
    }
  }

  nav {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 4;
    
    width: 100%;
    height: 100px;
    // background: black;

    padding-top: 30px;

    // for animation 
    opacity: 0;
  

    ul {
      margin-left: 42%;

      li {
        display: inline-block;
        margin: 10px;
        
        font-family: garamond-premier-pro, sans-serif;
        letter-spacing: 3.5px;
        font-size: 16px;

        a{
          text-decoration: none;
          color: white;

          &:hover {
            color: white;
          }
        }
      }

    }
  }
  .content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
  
    // creates the scrolling effect
    background: rgb(16, 16, 16);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .box {
      margin-top: 15%;
      margin-left: 20%;
      display: inline-block;
      width: 650px;
      height: 425px;
      background: rgb(189, 168, 168);

      // for animations sake
      opacity: 0;
    }

    .one {
      margin-left: 27%;

      // background
      background: url("../images/weird-crossing.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .two {
      background: url("../images/temple-purple.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .three {

      background: url("../images/ramen-shop-real.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .four {

      background: url("../images/kimono-girls.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .five {
      // background
      background: url("../images/ame.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .six {
      margin-left: 20%;
      margin-right: 25%;

      background: url("../images/night-street.jpg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}