* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

body a {
  z-index: 9;
}

body a .logo {
  position: absolute;
  top: 7%;
  left: 8%;
  z-index: 11;
  font-weight: 300;
  color: white;
  opacity: 0;
}

body a .logo span {
  display: block;
}

body nav {
  position: absolute;
  top: 4%;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  padding-top: 30px;
  opacity: 0;
}

body nav ul {
  margin-left: 42%;
}

body nav ul li {
  display: inline-block;
  margin: 10px;
  font-family: garamond-premier-pro, sans-serif;
  letter-spacing: 3.5px;
  font-size: 16px;
}

body nav ul li a {
  text-decoration: none;
  color: white;
}

body nav ul li a:hover {
  color: white;
}

body .content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #101010;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

body .content-wrapper .box {
  vertical-align: top;
  margin-top: 16%;
  margin-left: 20%;
  display: inline-block;
  width: 730px;
  height: 425px;
  opacity: 0;
}

body .content-wrapper .box a {
  position: absolute;
  top: 115%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: #101010;
  padding: 8px 20px;
  border: white 1px solid;
  font-size: 20px;
}

body .content-wrapper .box a:hover {
  color: black;
  background: white;
  text-decoration: none;
  border: 1px solid #101010;
}

body .content-wrapper .one {
  margin-left: 27%;
  background: url("../images/weird-crossing.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

body .content-wrapper .one h1 {
  position: absolute;
  bottom: 14%;
  left: -25%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-shadow: #101010;
}

body .content-wrapper .two {
  background: url("../images/temple-purple.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .content-wrapper .two h1 {
  position: absolute;
  bottom: 23%;
  left: -32%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-shadow: #101010;
}

body .content-wrapper .three {
  background: url("../images/ramen-shop-real.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

body .content-wrapper .three h1 {
  position: absolute;
  bottom: 8%;
  left: -23%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-shadow: #101010;
}

body .content-wrapper .four {
  background: url("../images/kimono-girls.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body .content-wrapper .four h1 {
  position: absolute;
  bottom: 17%;
  left: -28%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-shadow: #101010;
}

body .content-wrapper .five {
  background: url("../images/ame.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

body .content-wrapper .five h1 {
  position: absolute;
  bottom: 29%;
  left: -34%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-shadow: #101010;
}

body .content-wrapper .six {
  margin-left: 20%;
  margin-right: 25%;
  background: url("../images/night-street.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

body .content-wrapper .six h1 {
  position: absolute;
  bottom: 18%;
  left: -28%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 300;
  color: white;
  text-shadow: #101010;
}

body section.airline-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 7;
}

body section.airline-article .img-wrapper {
  width: 100%;
  height: 85%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background: url(../images/in-air.jpg);
  background-size: cover;
  display: inline-block;
}

body section.airline-article .img-wrapper .text-wrapper {
  position: absolute;
  left: 9%;
  bottom: 35%;
  background: #679db4;
}

body section.airline-article .img-wrapper .text-wrapper h1 {
  padding: 15px 45px 5px 45px;
  color: white;
  font-size: 40px;
  font-weight: 400;
  word-spacing: 8px;
}

body section.airline-article .img-wrapper .text-wrapper p {
  padding: 0px 45px 0 45px;
  color: white;
}

body section.airline-article div.article-shadow {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, 94%);
          transform: translate(-50%, 94%);
  width: 80.2%;
  height: 180px;
  background: rgba(103, 157, 180, 0.4);
}

body section.airline-article section.article-background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
}

body section.airline-article .airline-article-section {
  padding: 40px;
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, 15%);
          transform: translate(-50%, 15%);
  width: 82%;
  height: 1000px;
  background-color: white;
}

body section.airline-article .airline-article-section h3 {
  margin: 5%;
}

body section.airline-article .airline-article-section p {
  margin: 30px 5%;
  line-height: 2rem;
  font-size: 18px;
}

body section.airline-article .airline-article-section img {
  margin: 20px 10% 20px 9%;
  width: 80%;
}

body section.airline-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 7;
}

body section.airline-article .img-wrapper {
  width: 100%;
  height: 85%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background: url(../images/in-air.jpg);
  background-size: cover;
  display: inline-block;
}

body section.airline-article .img-wrapper .text-wrapper {
  position: absolute;
  left: 9%;
  bottom: 35%;
  background: #679db4;
}

body section.airline-article .img-wrapper .text-wrapper h1 {
  padding: 15px 45px 5px 45px;
  color: white;
  font-size: 40px;
  font-weight: 400;
  word-spacing: 8px;
}

body section.airline-article .img-wrapper .text-wrapper p {
  padding: 0px 45px 0 45px;
  color: white;
}

body section.airline-article div.article-shadow {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, 94%);
          transform: translate(-50%, 94%);
  width: 80.2%;
  height: 180px;
  background: rgba(103, 157, 180, 0.4);
}

body section.airline-article section.housing-article {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/dog.jpg");
}
/*# sourceMappingURL=articles.css.map */