@import "mixins";

@mixin mQ {
    @media screen and (max-width: $arg){
      @content;
    }
}

html {
    font-size: 16px;

    @include mQ(600px){
        font-size: 4px;
    }
}

body {
        padding: 0;
        margin: 0;
        font-family: garamond-premier-pro, serif;
        font-weight: 400;
        font-style: normal;
        background:rgb(230, 230, 230);

        // nav {
        //   width: 80px;
        //   height: 100px;
        //   background: rgba(23, 23, 23, 0.6);
        //   position: absolute;
        //   left: 0;
        //   top: 40%;
        //   z-index: 4;
          
        // }
        
        .video-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            display: flex;
            justify-content: space-around;
            align-items: center;

            @include mQ(480px){
                background: url("../images/temple-cherry-blossom.jpg")
            }

            .title-wrapper {
              z-index: 4;
              text-align: center;

              .header-main-title {
              color: rgb(219, 219, 219);
              // text-shadow: 3.5px 3.5px black;
              font-size: 3.5rem;
              letter-spacing: 2.5rem;
              z-index: 4;
              display: block;
              opacity: 0;
              margin-bottom: 18px;

            //   h1{
                  
            //       @include desktop(400px, 300px){
            //           font-size: 8px;
            //           letter-spacing: 4px;
            //           color: red;
            //       }
            //   }
              }

              .header-sub-title {
                color: rgb(219, 219, 219);
                // text-shadow: 3px 3px black;
                font-size: 1.5rem;
                letter-spacing: 0.8rem;
                z-index: 4;
                opacity: 0;
                // h1 {
                    
                //     @include desktop(400px, 300px){
                //         font-size: 8px;
                //         letter-spacing: 4px;
                //         color: red;
                //     }
                // }
              }
            }
        
            .video-background {
                /* makes video at least 100% wide and tall */
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
          
                /* prevents the browser from stretching or squishing video */
                width: auto;
                height: auto;
          
                /*center video*/
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .video-background-mask {
                background-color: rgba(0, 0, 0, 0.4);
                // background: linear-gradient(
                // rgba(0, 0, 0, 0.397) 85%,
                // rgba(0, 0, 0, 0.6) 90%,
                // rgba(16,16,16, .8) 93%,
                // rgb(16,16,16) 100%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 1;
            }

            a {
                // positioning
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;

                // button styling
                text-decoration: none;
                line-height: 8px;
                // color: rgb(16,16,16);
                // padding: 8px 14px;
                // background: white;

                // font
                font-size: 20px;
                letter-spacing: 2px;
                color: rgb(206, 205, 205);

                &::after {
                    content: '';
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -12px;
                    border-width: 0 0 1px;
                    border-style: solid;
                }

                &:hover::after {
                   animation: appear-to-right 1s; 
                }
               
            }
        }
          // end of video-wrapper section
    // end of the body
    }  

    /* CSS Animations  */
  
     @keyframes appear{
  
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
  
    @keyframes appear-to-right{
        0% {opacity: .5; left: 5px}
        50% {opacity: .65; left: 10px}
        75% {opacity: .8; left: 5px}
        100% {opacity: 1; left: 0}
    }
  
    @keyframes appear-to-down{
        0% {opacity: .5; top: 5px;}
        50% {opacity: .65; top: 10px;}
        75% {opacity: .8; top: 5px;}
        100% {opacity: 1; top: 0;}
    }
  
    @keyframes fade-in {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
  
    @keyframes nav-hover {
        0% {width: 33px;}
        50% {width: 33px;}
        100%{width: 20px; opacity: 1;}
    }
  
    .fade-in-element {
        animation: fade-in 3s; 
    }